.search-page {
  background: white;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
}
.dark .search-page {
  background: rgb(0, 0, 0);
}

.search-page h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.dark .search-page h2 {
  color: #eee;
}

.filters {
  display: flex;
  width: 85vw;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.filters input,
.filters select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 160px;
}
.dark .filters input,
.dark .filters select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #393939;
  border-radius: 6px;
  min-width: 160px;
}

.search-tran-date-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.results table {
  width: 75vw;
  color: black;
  border-collapse: collapse;
}
.dark .results table {
  width: 75vw;
  color: rgb(255, 255, 255);
  border-collapse: collapse;
}

.results th,
.results td {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.results .green {
  color: #4CAF50;
  font-weight: 600;
}

.results .red {
  color: #f44336;
  font-weight: 600;
}

@media (min-width: 550px) and (max-width: 800px) {

  .search-page{
    padding: 1rem;
  }

  .filters input,
.filters select {
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 160px;
}
.filters h3{
  font-size: 0.8rem;
}

.results th,
.results td {
  padding: 0.5rem;
  font-size: 0.9rem;
}

}

@media (min-width: 320px) and (max-width: 550px) {

  .search-page{
    padding: 1rem;
  }

  .filters input,
.filters select {
  padding: 0.3rem;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 100px;
}

.filters h3{
  font-size: 0.8rem;
}

.results th,
.results td {
  padding: 0.5rem;
  font-size: 0.7rem;
}

}